{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div id="mapid" class="map"></div>
        <span>INFO</span>
        <ol>
            <li>Aby dodać nowy obszar kliknij w ikonkę w prawym górnym rogu mapy - "Draw a polygon".</li>
            <li>Zaznacz na mapie conajmniej 3 punkty łącząc ostatni punkt z pierwszym aby utworzyć zamknięty obszar.
            </li>
        </ol>
       {% include 'form/form_project.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
   {% include 'map-js/create-map.twig' %}
{% endblock %}