{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div id="mapid" class="map"></div>
        <p> Info: W prawym górnym rogu mapy jest ikonka "Draw a polygon". Naciśnij ją, a następnie zaznacz dany obszar
            na mapie.</p>
        {% include 'form/form_project.twig' %}
    </div>
{% endblock %}
{% block javascripts %}

    {% if area.latLng %}
        {% include 'map-js/update-map.twig' %}
    {% else %}
        {% include 'map-js/create-map.twig' %}
    {% endif %}
    </script>
{% endblock %}